body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: deepskyblue;
}
nav ul{
    display: flex;
    align-items: flex-start;
    list-style: none;
}
nav li{
    padding: 10px;
    margin-right: 10px;
}
nav li:hover{
    background-color: whitesmoke;
}
nav li a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    align-items: revert;
    border: solid 2px;
    padding: 10px;
    background-color: deepskyblue;
}
input{
    margin-top: 10px;
    margin-right: 10px;
}
#select_all{
    align-self: flex-start;
}
table{
    margin-top: 10px;
    border-collapse: collapse;
    display: flex;
}
td{
    border: solid 2px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
tr{
    border: solid 2px;
    border-collapse: collapse;
}